@charset "utf-8";
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
margin: 0;
padding: 0;
}
body {
margin: 0 auto;
padding: 0;
text-align: center;
font-size: 12px;
line-height: 1.6em;
color: #333;
background-color: #fff;
font-family: "Lucida Grande",Tahoma,Verdana,Lucida,Arial,sans-serif;
}
a#gotop {
background-color: #ccc;
border-radius: 10px 10px 10px 10px;
bottom: 10px;
display: block;
font-family: Arial;
right: 10px;
line-height: 46px;
margin-right: 0;
padding: 10px 0;
position: fixed;
z-index: 10;
text-align: center;
width: 60px;
_position: absolute;
_bottom: auto;
_top: expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)) - 10);
cursor: pointer;
color: #333;
text-decoration: none;
}
#header_div {
background-image: url(/public/images/global_bg_1.gif);
background-repeat: repeat-x;
height: 29px;
color: #999;
position: fixed;
z-index: 999;
padding: 1px 0 2px;
top: 0;
left: 0;
width: 100%;
bottom: auto;
_position: absolute;
_top: expression(eval(document.documentElement.scrollTop));
}
.topbar_iframe {
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 32px;
border: 0;
overflow: hidden;
filter: alpha(opacity = 0);
}
#header_div .mainDiv {
overflow: visible;
position: relative;
}
#header_login {
float: right;
padding: 4px 0 0 0;
padding: 3px 0 0 0;
_padding: 0;
}
.link_box {
float: left;
}
#header_div .app_info, #header_div .app_info_on, .watching, .game_info, .watching_on, .game_info_on {
position: relative;
width: 80px;
line-height: 29px;
padding: 1px 0;
}
#header_div .app_info_on, #header_div .app_info, .watching, .game_info {
background: url(/public/images/icon_sprites.gif) no-repeat 0 -844px;
}
.watching, .watching_on {
margin-left: 5px;
}

.top_arrow {
display: inline-block;
width: 10px;
height: 5px;
margin: 0 1px 0 4px;
background: url(/public/images/icon_sprites.gif) no-repeat 0 -400px;
vertical-align: middle;
_vertical-align: -6px;
}

.mainDiv {
width: 990px;
overflow: hidden;
margin: 0 auto;
text-align: left;
}
#banner_div {
padding: 0;
}
#banner_div .mainDiv {
overflow: visible;
position: relative;
z-index: 2;
}
.block {
zoom: 1;
}
.block:after {
content: '\20';
display: block;
clear: both;
}
#logo_div {
float: left;
padding: 0 10px 0 0;
}
#logo_div a {
display: block;
width: 215px;
height: 100px;
}
#new_search_bar_div {
float: right;
display: inline;
margin-top: 22px;
width: 691px;
left: 0;
height: 35px;
}
.clearfix {
zoom: 1;
}
.top_add {
position: relative;
width: 72px;
float: right;
height: 32px;
margin-top: 2px;
}
.top_add .top_add_link {
display: block;
overflow: hidden;
width: 72px;
height: 30px;
padding-top: 2px;
line-height: 32px;
font-weight: bold;
color: #fff;
text-indent: 15px;
text-decoration: none;
background: url(/public/images/top_add_1.png) no-repeat;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/public/images/top_add_1.png,sizingMethod='scale');
_background: none!important;
}
.top_add a.top_add_link:link, .top_add a.top_add_link:visited, .top_add a.top_add_link:hover, .top_add a.top_add_link:active {
color: #fff;
text-decoration: none;
}
.top_add a.top_add_link:link, .top_add a.top_add_link:visited, .top_add a.top_add_link:hover, .top_add a.top_add_link:active {
color: #fff;
text-decoration: none;
}
.top_add_options {
position: absolute;
top: 33px;
right: 0;
display: block;
padding: 15px 2px 5px;
width: 154px;
height: 35px;
background: url(/public/images/top_add_options_bg.gif) no-repeat 0 0;
}
.top_add_options a {
display: block;
float: left;
width: 50px;
height: 15px;
text-align: center;
text-decoration: none;
padding-top: 16px;
}
.top_add_options a.top_add_article {
border-right: 1px solid #a6a6a6;
background: url(/public/images/top_add_icon.gif) no-repeat -36px 0;
}
.top_add_options a {
display: block;
float: left;
width: 50px;
height: 15px;
text-align: center;
text-decoration: none;
padding-top: 16px;
}
.top_add_options a.top_add_entry {
border-left: 1px solid #fff;
border-right: 1px solid #a6a6a6;
background: url(/public/images/top_add_icon.gif) no-repeat -36px -50px;
}
.top_add_options a.top_add_topic {
border-left: 1px solid #fff;
background: url(/public/images/top_add_icon.gif) no-repeat -36px -100px;
}
#top-search {
height: 36px;
overflow: hidden;
background: #be2b2b url(/public/images/new-searchbar-broad.png) no-repeat left;
width: 612px;
}
#top-search form {
height: 29px;
overflow: hidden;
margin: 5px 0 0;
padding: 0;
}
#search-module-toggle {
float: left;
margin-left: 8px;
margin-top: 6px;
width: 18px;
height: 18px;
overflow: hidden;
}
fieldset, img {
border: 0;
}
#current-search-module-img {
width: 18px;
height: 18px;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/public/images/folders.png',sizingMethod='crop');
}
input, textarea, select {
font-family: inherit;
font-size: inherit;
font-weight: inherit;
}
.top-search-input {
width: 408px;
background: #fff;
float: left;
height: 20px;
line-height: 21px;
font-size: 12px;
margin: 5px 0 0;
padding: 0;
border: 0!important;
}
input, button, textarea, select {
font-family: inherit;
font-size: inherit;
font-weight: inherit;
}
.top-search-button {
float: left;
background: transparent;
border: 0;
color: #fff;
cursor: pointer;
margin: 0;
vertical-align: middle;
text-align: center;
font-weight: bold;
width: 77px;
height: 29px;
line-height: 29px;
_line-height: 34px;
padding: 0;
}
#top-search-button {
font-weight: bold;
letter-spacing: 6px;
margin-left: 36px;
width: 65px;
}
.hot_search_keywords {
width: auto!important;
height: 18px;
line-height: 18px;
overflow: hidden;
margin-top: 5px;
padding-left: 10px;
}
.hot_search_keywords {
line-height: 18px;
}
.link_line a:link, .link_line a:visited {
color: #333;
text-decoration: underline;
}
#nav_div {
margin-bottom: 8px;
background: url(/public/images/global_bg_1.gif) repeat-x 0 -77px;
height: 32px;
line-height: 30px;
line-height: 32px;
padding: 0 10px;
overflow: hidden;
}
ol, ul {
list-style: none;
}
.ul, .ul ul {
list-style-type: none;
margin: 0;
padding: 0;
zoom: 1;
}
#nav_div ul {
float: left;
}
li {
list-style: none;
}
#nav_div li {
float: left;
}
#nav_div .big li a {
float: left;
padding: 0 10px;
font-size: 14px;
background-image: url(/public/images/global_bg_1.gif);
background-repeat: repeat-x;
background-position: 0 100px;
height: 32px;
font-weight: bold;
}
#nav_div .big li a:link, #nav_div .big li a:visited {
color: #000;
text-decoration: none;
}
#location_div {
margin: 0 0 5px 0;
height: 26px;
line-height: 23px;
overflow: hidden;
}
.clear {
clear: both;
}

